OPENAI_API_KEY =
OPENAI_CHAT_MODEL =

OPENWEATHER_API_KEY =

#LangSmith
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

#웹검색 Agent Tool 
TAVILY_API_KEY=

#Pinecone Online Vector DB
PINECONE_APU_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small